body {
	margin: 50px;
	font-family: Arial, sans-serif;
}

.datepicker {
	float: left;
	background: #FFFFFF;
	padding: 10px;
}
.datepicker table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.datepicker .nav {
	text-align: center;
}
.datepicker table td {
	border: 1px solid #CCCCCC;
}
.datepicker th, .datepicker td {
	width: 32px;
	height: 32px;
	text-align: center;
	margin: 0;
	padding: 0;
}
.datepicker a {
	cursor: pointer;
}
.datepicker .today {
	background: #EEEEEE;
}
.datepicker .selectable:hover, .datepicker .selected {
	background: #4078C0;
	cursor: pointer;
	color: #FFFFFF;
}